
<div class="container-fluid py-3">
    <div class="row">
        <div class="col">
   
        </div>
        <div class="col">
            <a class="btn btn-outline-primary d-block">Add New Employee</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover table-primary">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">description</th>
          </tr>
        </thead>
        <tbody>
          <tr ngFor="let gender of data">
            <th>{{gender.id}</th>
            <td>{{gender.name}</td>
          </tr>
        </tbody>
    </table>
</div>






